.table {
  background-color: lightblue;
  width: 60vw;
  height: 20vh;
}
.type {
  background-color: rgb(130, 160, 95);
}

.img {
  background-color: rgb(130, 160, 95);
  width: 20vw;
  height: 15vh;
}
img {
  height: 20vh;
  width: 20vh;
}
.li_1 {
  background-color: chartreuse;
}
.li_2 {
  background-color: burlywood;
}
