.table{
    background-color: lightblue;

}
.type{
    background-color: rgb(130, 160, 95);
}

.img{
 
    background-color: rgb(130, 160, 95);
    width: 20vw;

}
.li_1{
     background-color: chartreuse;
}
.li_2{
    background-color: burlywood;
}